<form style="margin: 15px; padding: 10px;" action="/api/productos/nuevo" method="post">
  <div class="mb-3" style="width: 500px;">
    <label class="form-label">Titulo</label>
    <input type="text" class="form-control" name="titulo">
  </div>
  <div class="mb-3" style="width: 500px;">
    <label class="form-label">Descripcion</label>
    <input type="text" class="form-control" name="descripcion">
  </div>
  <div class="mb-3" style="width: 500px;">
    <label class="form-label">Precio</label>
    <input type="text" class="form-control" name="precio">
  </div>
  <div class="mb-3" style="width: 500px;">
    <label class="form-label">Codigo</label>
    <input type="text" class="form-control" name="codigo">
  </div>
  <button type="submit" class="btn btn-primary">Cargar</button>
</form>